.background{
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: rgb(164, 167, 170);
}

.main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    border-style: solid;
    border-color: rgb(191, 185, 185);
    border-radius: 60px;
    background-color: rgb(251, 251, 251);
}

.create {
    justify-content: center;
    display: block;
}

.create label {
    display: flex;
    color: #000000;
    font-weight: bold;
    border: none;
    outline: none;
    padding-left: 8em;
    padding-bottom: .5em;
}

.create input {
    color: #000000;
    -webkit-text-fill-color: #000000;
    margin-bottom: 15px;
    height: 3em;
    width: 300px;
    border-radius: 60px;
    border: none;
    outline: none;
    background-color: rgb(228, 220, 220);
    padding-left: 5%;
}

.create button {
    width: 10em;
    height: 2em;
    border-radius: 60px;
    background-color: cornflowerblue;
    color:black;
    font-size: 1.5em;
    border: none;
    margin-right: 6em;
}

.create button:hover {
    cursor: pointer;
}